__pycache__/*
# outputs/*
multirun/*
models/*
profiles/*
# images/*

# # # Ignore everything
# *

# # But not these files...
# !.gitignore
# !conf/*
# !images/*
# !*/*.xlsx
# !*.py
# !*.sh
# !*.md
# !*.yml

# rm -i outputs/*/*/clients/client_cv_*.pt
# rm -i multirun/*/*/clients/client_cv_*.pt
# rm -i models/*best_model*.pth .npz
